<div class="container">
  <img src="/assets/icon.png" alt="Password Generator Logo" class="logo" />

  <div class="password-display">
    <span>{{ password || '**********' }}</span>
    <button (click)="copyToClipboard()" class="copy-btn">
      <i class="bi bi-clipboard"></i>
    </button>
  </div>

  <div class="options">
    <label class="nps">
      Uppercase
      <input type="checkbox" [(ngModel)]="includeUppercase" />
    </label>
    <label class="nps">
      Lowercase
      <input type="checkbox" [(ngModel)]="includeLowercase" />
    </label>
    <label class="nps">
      Numbers
      <input type="checkbox" [(ngModel)]="includeNumbers" />
    </label>
    <label class="nps">
      Symbols
      <input type="checkbox" [(ngModel)]="includeSymbols" />
    </label>
  </div>

  <div class="length-control">
    <label class="slider-label">
      Password Length
      <input type="range" min="4" max="32" [(ngModel)]="length" />
    </label>
  </div>

  <button class="generate-btn" (click)="generatePassword()">
      Generate Password
  </button>
</div>
