@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

$primary-color: #660000;
$text-color: #ffffff;
$secondary-text: #aaaaaa;
$toggle-bg: #29292917;
$toggle-active: #660000;
$input-bg: #07070700;

.container {
  background: url('/assets/bg.png') no-repeat center center/cover;
  padding: 2rem;
  margin-top: -20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
  height: 500px;
  width: 240px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 150px;
  padding-top: 20px;
}

.password-display {
  background: $input-bg;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding-right: 10px;
  width: 100%;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  width: 100%;
  margin-top: -20px;
}

.nps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $toggle-bg;
  padding: 10px;
  color: white;
  border-radius: 15px;
  font-size: 16px;
  width: 100%;
}

input[type="checkbox"] {
  appearance: none;
  width: 40px;
  height: 20px;
  background: $toggle-bg;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

input[type="checkbox"]:checked {
  background: $toggle-active;
}

input[type="checkbox"]:before {
  content: "";
  width: 16px;
  height: 16px;
  background: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: 0.3s;
}

input[type="checkbox"]:checked:before {
  left: 22px;
}

.length-control {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  color: white;
  border-radius: 15px;
  font-size: 16px;
  width: 100%;
}

.copy-btn {
  background-color: #000000; /* Fundo preto */
  color: #ffffff; /* Texto branco */
  font-size: 1.2rem; /* Tamanho do ícone */
  border: none; /* Remover borda */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 10px 15px; /* Espaçamento interno */
  cursor: pointer; /* Cursor de pointer */
  display: flex; /* Flexbox para alinhar o ícone */
  align-items: center; /* Alinhar o ícone no centro */
  justify-content: center; /* Alinhar o ícone no centro */
  transition: background-color 0.3s; /* Transição suave ao passar o mouse */
}

.copy-btn:hover {
  background-color: #333333; /* Fundo mais claro quando passar o mouse */
}


input[type="range"] {
  width: 100%;
  max-width: 200px; 
  accent-color: $primary-color;
}

.generate-btn {
  background: $primary-color;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.generate-btn:hover {
  background: darken($primary-color, 10%);
}
